/* Variables */
:root {
    --box: #23222b;
    --background: #1c1b22;
    --text: #fbfbfe;
    --info: #84c6ff;
    --transparent: #00000000;

    --primary: #00cadb;
    --hover: #61dce9;
    --active: #a6ecf4;
    --active-hover-background: #18343c;

    --Dark-Grey-40: #3a3944;
}

/* Base rules for the new styles */
body {
    background-color: var(--box) !important;
    color: var(--text) !important;
}

/* Header menu */
#header {
    background-color: var(--background) !important;
}
#header li.ic-app-header__menu-list-item a div svg {
    fill: var(--text) !important;
}
#header li.ic-app-header__menu-list-item:hover {
    background-color: var(--Dark-Grey-40) !important;
}
#header li.ic-app-header__menu-list-item--active a div svg {
    fill: var(--active) !important;
}
#header a.ic-app-header__menu-list-link {
    background-color: inherit !important;
}
#header li.ic-app-header__menu-list-item--active:hover {
    background-color: var(--active-hover-background) !important;
}

/* Nav bar */
#sticky-container a {
    color: var(--text) !important;
}
#sticky-container a:hover {
    background-color: var(--Dark-Grey-40) !important;
}
#sticky-container a.active {
    color: var(--active) !important;
}
#sticky-container a.active:hover {
    background-color: var(--active-hover-background) !important;
}

/* Base link styles*/
a {
    text-decoration: none !important;
    color: var(--primary) !important;
}
a:hover {color: var(--hover) !important;}
a:active {color: var(--active) !important;}

/* Hiding navbar items */
li.ic-app-header__menu-list-item:has(#global_nav_conversations_link,#global_nav_history_link),#context_external_tool_262_menu_item,div.ic-app-header__secondary-navigation:has(#primaryNavToggle) {
    display: none !important;
}

/* Course title box */
.course-title {
    color: var(--text) !important;
}
.header-bar {
    background-color: inherit !important;
}

#planner-todosidebar-item-list {
    color: var(--text) !important;
}

/* Breadcrumb */
#breadcrumbs {
    background-color: var(--box) !important;
    color: var(--text) !important;
}

#left-side > a {
    color: var(--text) !important;
}

.nav-badge {
    background-color: var(--info) !important;
    color: var(--transparent) !important;
}

.btn {
    background-color: inherit !important;
}

/* Remove previous/next buttons in pages */
.module-sequence-footer {display: none !important;}

/* Remove immersive reader */
#immersive_reader_mount_point {display: none !important;}
